 ion-header.title-header {
    ion-toolbar {
        font-family: "Satisfy", cursive !important;
        ion-title {
            letter-spacing: 2px;
            font-size: 1.8rem !important;
        }
    }

    ion-segment {
        --background: var(--ion-color-primary);
        display: flex;
        justify-content: center;
        gap: 10px;
        padding: 10px 0;
        
        ion-segment-button {
            font-size: 1rem;
            --color: var(--ion-color-light);
            --color-checked: #fff;
            transition: all 0.3s ease-in-out;
            
            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 5px;
            }
        }
    }
}

ion-content {
    ion-list {
        ion-list-header {
            font-weight: 700;
            font-size: 1.2rem;
            color: var(--ion-color-dark);
            text-align: center;
        }
        
        ion-item {
            margin: 2vh auto;
            width: 90%;
            border-radius: 10px;
            transition: transform 0.2s ease-in-out, background 0.3s ease;
            
            &:hover {
                background: var(--ion-color-light-shade);
                transform: scale(1.02);
            }
            
            ion-label {
                font-size: 1.2rem;
                color: var(--ion-color-dark);
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                p {
                    margin-top: 3px;
                    font-size: 0.9rem;
                    color: var(--ion-color-medium);
                }
            }
            
            ion-avatar {
                border: 2px solid var(--ion-color-primary);
                border-radius: 50%;
            }
        }
    }
}

app-empty-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px; /* Pastikan tinggi dan lebar sama untuk lingkaran */
    width: 300px;
    border-radius: 50%; /* Membuat elemen menjadi lingkaran */
    text-align: center;
    color: var(--ion-color-medium);
    font-size: 1.2rem;
    overflow: hidden; /* Opsional jika ada konten yang melebihi lingkaran */
    background: var(--ion-color-light); /* Tambahkan warna latar belakang */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Opsional untuk efek bayangan */
    margin: auto; /* Agar berada di tengah */
}

ion-fab {
    ion-fab-button {
        background: var(--ion-color-primary);
        color: #fff;
        transition: transform 0.3s ease-in-out;
        
        &:hover {
            transform: scale(1.1);
        }
    }
}

